.container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.total-price {
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: Montserrat;
    margin: 20px;
}
.container-cart {
    display: flex;
    justify-content: center;
    align-items: center;
}