.root {
    background-color: rgb(205, 205, 205);
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    
    .container {
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
 
}
.header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}