.favorites {
  .favorites-title {
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    padding-top: 80px;
    
  }
}
.btn-wrap {
  border: 1px solid #ccc;
  padding: 7px;
  margin-left: 20px;
  margin: 30px;
}
.empty {
  padding: 200px;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
}
